.header{
    background-color: lightslategrey;
    font-size: 40px;
    font-family: sans-serif;

}
.description{
    background-color: lightslategrey;
    font-size: 30px;
    font-family: sans-serif;

}
.instructions{
    font-size: 25px;
    background-color: lightgray;
}
.about{
    display:flex;
    justify-content: flex-end;
}
.steps{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 400px;
    background-color: wheat;
    display:flex;
    flex-wrap: wrap;
}
.grid{
    background-color:whitesmoke;
    height:510px;
    display:flex;
    justify-content:space-evenly;
}
.grid img{
    border: 1.5px solid black;
    border-radius: 40px;
}
.item{
    border-radius: 10px;
    background-color:rgb(255, 255, 255);
    width:310px;
    height:500px;  
    font-family:sans-serif;
}